# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data & logs
logs/
raw_data/
models/
plots/*
!plots/training/
plots/training/*
!plots/training/training_metrics_N1_F10.png
*.zip
*.npz
*.csv

# OS
.DS_Store
Thumbs.db